section {
  height: 100%;
  background-color: #fde6df;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 330px;
  height: 600px;
  position: relative;
  margin-bottom: 32px;
}

.frame img {
  width: 100%;
}

.selected-img {
  width: 326px;
  height: 409px;
  z-index: 2;
  position: absolute;
  top: 46px;
  left: 0;
}

button {
  border: none;
  padding: 8px 20px;
  background-color: var(--brand-color);
  color: white;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 14px;
  cursor: pointer;
}
