<div class="wrapper">
  <h1>Results for: {{ searchQuery }}</h1>
  <search-input (search)="onSearch($event)"></search-input>
  <category-list (categorySelected)="onSearch($event)" />
  <images-results
    [isSearchPerformed]="searchPerformed"
    [images]="images"
    (prevClicked)="prevPage()"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (nextClicked)="nextPage()"
    [selectedImageIndex]="selectedImageIndex"
    (imageSelected)="selectImage($event)"
  />
  <display-image [selectedImage]="selectedImage" />
</div>
