<main class="main-wrapper">
  <section class="main-search column full-center">
    <header>
      <img src="AdPlenty-logo.png" alt="Adplenty logo" />
      <h1>Social Media Image Generator</h1>
      <p>Search by name or choose a category</p>
    </header>
    <search-input (search)="onSearch($event)" />
    <category-list (categorySelected)="onSearch($event)" />

    <images-results
      [isSearchPerformed]="searchPerformed"
      [images]="images"
      (prevClicked)="prevPage()"
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (nextClicked)="nextPage()"
      [selectedImageIndex]="selectedImageIndex"
      (imageSelected)="selectImage($event)"
      [seletedCategory]="searchQuery"
    />
  </section>

  <section *ngIf="images.length !== 0" class="display-image">
    <display-image
      [selectedImage]="selectedImage"
      *ngIf="searchPerformed"
      [isSearchPerformed]="searchPerformed"
      [foundImages]="images"
    />
  </section>
</main>
